@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lora&display=swap');
  
body {
  padding : 0;
  margin : 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCSXbdowK9dRhAgQtjge41YWS-38DZeuklQ&usqp=CAU");
  background-repeat : no-repeat;
  background-size : 100%;
  background-color : white;
}

#toggle {
  color : white;
}

#video-background {
  position : fixed;
  z-index : -1;
  width : 100vw;
  height : 130vh;
  height : 100vh;
  object-fit : cover;
  margin-top : 25.5vh;
}

.main {
  display : flex;
  align-items : center;
  justify-content : center;
}

/* .menu {
  text-align : right;
  font-family : courier;
  font-weight : normal;
  margin-top : 5px;
}
*/


a {
  color : white;
  margin : 3px;
  margin-top : 5px;
  text-decoration : none;
  text-align : right;
}

h1{
  color : white;
  padding : 10px;
  color : white;
  font-family : tahoma;
  font-weight : normal;
  font-size : 25px;
  margin-top : 30px;
  background : transparent;
  width : 60%;
  border-radius : 5px;
  text-align : center;
}

.nama {
  display : block;
  align-items : center;
  justify-content: center;
  margin-top : 30px;
}

h2 {
  color : white;
  font-family: 'Itim', cursive;
  margin-top : 20px;
  font-size : 13px;
  font-weight: normal;
  width : 60%;
  text-align : left;
  margin-left : 5%;
}

h3 {
  font-size : 25px;
  text-decoration: underline;
  opacity : .6;
  font-family : tahoma;
  font-weight : bold;
  text-align : left;
}

h4 {
  text-align : center;
  font-size : 25px;
  opacity : .6;
  font-family : tahoma;
  font-weight : bold;
}

.img-skills {
  padding : 5px;
  display : block;
}

.my-skills , i{
  display : flex;
  font-family : tahoma;
  font-weight : normal;
  font-size : 12px;
  font-style : normal;
}

.informasi {
  width : 100%;
}

.full-background {
  height 8 100vh;
}

.aboutme {
  margin : 15px;
  margin-top : 10vh;
  padding : 10px;
  font-size : 12px;
  color : black;
  width : 85%;
  font-family : tahoma;
  font-weight : normal;
}

.profile {
  background : black;
  height : 100vh;
  opacity : 0.9;
}

.sosmed {
   overflow : hidden;
   opacity : 0.5;
}

.fa {
  margin : 10%;
  display : flex;
  align-items : center;
  justify-content : center;
  color : black;
  border : solid 2px black;
  height : 7vh;
  width : 80%;
  border-radius : 10px;
  font-size : 25px;
  background : white;
}

.fa:hover {
  background : black;
  transition : 1s;
  color : white;
  box-shadow : 0 5px 10px 0 white;
  border : solid 1px white;
  opacity : 1;
}

.sosmed {
  overflow : hidden;
}

b {
  margin-left: 20px;
  font-size : 15px;
}

/* mengatur sebuah responsif dalam browser */

@media only screen and (min-width: 1200px) {
  body{
    background-color: white;
  }

  .nama{
    display: flex;
    margin-top: 30vh;
  }
  
  h1{
    font-size : 100px;
    text-align: center;
  }
  
  h2 {
    font-size: 50px;
  }
  
  h3 , h4{
    font-size: 50px;
  }

  .profile{
    height: 100vh;
  }

  .aboutme{
    margin-top: 55vh;
    font-size: 15px;
    width: 60%;
  }

  .my-skills , i{
    font-size: 13px;
    width: 60%;
  }

  .img-skills{
    margin: 10px;
  }

  .font-text{
    display: flex;
    width: 80%;
  }

  i{
    font-size: 15px;
  }

  .fa{
    margin: 30px;
    height: 9vh;
  }
}
