body {
  padding : 0;
  margin : 0;
  font-family : arial;
  font-size : 13px;
}

.navbar {
  display : block;
}

.wrap {
  display : flex;
  justify-content : space-around;
  margin-top : 5%;
}

.menu {
  display : flex;
  align-items : center;
  justify-content : space-around;
  margin-top : 5%;
}

a {
  color : black;
  text-decoration : none;
  border-radius : 100%;
  display : flex;
  align-items : center;
  justify-content: center;
  font-size : 12px;
}

footer {
  display : flex;
  align-items : center;
  justify-content : center;
  font-family : monospace;
  font-size : 9px;
  background : black;
  color : white;
}

h3 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size : 25px;
}

h2 {
  margin : 1%;
  margin-top : 5%;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#saya{
  font-size : 45px;
  opacity : 0.5;
  padding : 5px;
  border-radius : 100%;
  background : black;
  color : white;
}

.icon {
  display : flex;
}

.content {
  margin : 8%;
  font-size : 13px;
  background : #E4E4E4;
  border-radius : 10px;
  padding : 5%;
  height : auto;
}

.skill-logo , #computer {
  font-size : 45px;
  margin-top : -10%;
}

.skill {
  font-size : 13px;
  margin-top : -10%;
}

.container {
  border-radius : 10px;
  text-align : center;
  font-size : 13px;
}

#about {
  margin : 15px;
  background : #E4E4E4;
  padding : 5px;
}

.gambar {
  display : flex;
  align-items : center;
  justify-content : space-around
}

.team {
  font-size : 13px;
}

.material-symbols-outlined {
  display : flex;
  align-items : center;
  font-weight : normal;
  justify-content : center;
  font-size : 13px;
  margin : 4px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

input {
  height : 30px;
  margin : 5px;
  font-size : 13px;
  background : none;
  border : none;
  border-bottom : 1px solid black;
  text-align : center;
}


textarea {
  font-size : 10px;
  text-align : center;
}

.submit {
  background : black;
  border-radius : 10px;
  width : 30%;
  color : white;
  font-size : 15px;
  opacity : 0.7;
}

#open-text {
  display :  none;
  color : black;
  text-align : center;
  background : #E4E4E4;
  padding : 5%;
  border-radius : 3%;
}

.next-read {
  display : block;
  font-size : 13px;
  background : black;
  border : none;
  border : solid 1px black;
  border-radius : 5px;
  height : 30px;
  font-family : arial;
  transition : 0.5s;
  margin : 30px;
  color : white;
}

.next-read:active {
  background : whitesmoke;
  color : black;
}

#open-text {
  font-size : 13px;
  text-align : start;
  margin : 1%;
  border : solid 2px black;
}

.bahasa {
  display : flex;
  align-items : center;
  justify-content: center;
}

#settings-logo {
  font-size : 30px;
  margin-top : 1vh;
  opacity : .5;
}

.certificate{
  display : flex;
  overflow-x: auto;
  white-space : nowrap;
}

.certificate img {
  width : 100px;
  border-radius : 5px;
}

.certificate > img{
  width : 280px;
  margin-left : 20px;
  height : 210px;
}


.sertifikat-text {
  padding : 5%;
}

#pendidikan {
  font-size : 40px;
  opacity : 0.5;
  position : fixed;
  background : black;
  color : white;
  padding : 5px;
  border-radius : 100%;
}

.contact-h2 {
  color : white;
  opacity : 0.5;
  background : black;
  width : 40%;
  display : flex;
  align-items : center;
  justify-content : center;
  padding : 5px;
  border-radius : 5px;
  }
